.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
}

.time-picker {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 4rem;
}

.time-picker > input {
  text-align: center;
}

.flatpickr-input {
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.time-controls {
  display: grid;
  grid-template-columns: var(--gutter, 60px) repeat(var(--cols, 5), var(--col, 1fr));
  column-gap: var(--gap, 0px);
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
